div#blocGauche{
	
	text-align: center;
	vertical-align: center;
}

div#blocDroite{
	
	text-align: center;

}

h1#Paroo{
	font-size: 100%
	color: white;

}


body {
  margin:0;
  padding:0;
  background: url(photo_site.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

input#InputEmail1{

	width: 50%
	text-align:center;
	background-color: #FFFFFF;
}

button#boutonEnvoyer{

	color: yellow;

}